<div class="container">

    <div class="row">

        <div class="col-12 text-center">
            <img src="/assets/img/burger.png" />
            <h1>Burger Devourment App</h1>
        </div>

        <div class="col-6 text-center">
            <h6 class="column_header">Burgers to Eat</h6>
            <div class="row mt-4">
                {{#each burger_data}}
                {{#unless this.devoured}}
                <div class="col-7 text-center" id="genDiv">{{this.burger_name}}</div>
                <div class="col-3 text-center" id="buttonMove">
                    <form class="devour">
                        <input hidden class="burger" value={{this.id}} type="text" type="hidden"><br>
                        <button type="submit" class="btn btn-secondary">Devour Burger</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>

        <div class="col-6 text-center">
            <h6 class="column_header2">Devoured Burgers</h6>
            {{#each burger_data}}
            {{#if this.devoured}}
            <input class="form-control" id="devoured" type="text" placeholder="{{this.burger_name}}">
            {{/if}}
            {{/each}}

        </div>

    </div>

    <div class="row">

        <div class="col text-center" id="createDiv">

            <form action="/burgers/create" method="POST">
                <input type="text" class="form-control" name="burger_name">
                <button type="submit" class="btn btn-primary mt-2">Create New Burger</button>
            </form>

        </div>

    </div>

</div>